<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    </head>

    <body>
        <div class="container">
            <!--Displays the articles title-->
            <h1 class="mb-1"><%= article.title %></h1>
            <!-- Display the date created in grey color -->
            <div class="text-muted mb-2"><%= article.createdAt.toLocaleDateString() %> </div>
            <!-- Buttons for 'All Articles' and 'Edit' -->
            <a href="/" class="btn btn-secondary">All Articles</a>
            <!-- create edit button -->
            <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
            
            <div>
                <%- article.sanitizedHtml %>
            </div>
            
            
 
           
           
        </div>
    </body>
</html>